<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hi Chatterbot</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/rasa-webchat@1.5.0/lib/index.min.js"></script>
  <!-- <script src="https://storage.googleapis.com/mrbot-cdn/webchat-latest.js"></script> -->
  <script src="/static/js/env.js"></script>
  <script src="/static/js/webchat.js"></script>
</head>
<body>
<ul class="languagepicker roundborders">
  <a id="choice_en"><li><img src="/static/images/flag-uk.png"/>English</li></a>
  <a id="choice_zh"><li><img src="/static/images/flag-de.png"/>Chinese</li></a>
  <a id="choice_ms"><li><img src="/static/images/flag-sv.png"/>Malay</li></a>
</ul>

<!-- explanation -->
<div style="width:600px;display:inline-block;color:#FFF;">
  <p>
    Pick your language and chat with our bot!
  </p>
</div>
<div id="webchat" data-title=" Flight Search Bot" data-subtitle="Plan your next trip here!"></div>
</body>
</html>
